@font-face {
  font-family: 'OpenSans-Regular';
  src: url(fonts/OpenSans-Regular.woff2);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-Bold';
  src: url(fonts/OpenSans-Bold.woff2);
  font-weight: 700;
  font-style: normal;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
body {
  margin: 0;
  font-family: 'OpenSans', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  color: #0f0d0e;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.popup_hidden {
  visibility: hidden;
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;  
  background-color: rgba(0, 0, 0, 0.6);  
  top: 0;
  bottom: 0;
  z-index: 200;
}
.popup-form {
  position: fixed;
  width: 390px;
  max-height: 610px;  
  margin: auto;
  z-index: 5;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.popup-close {   
  background-image: url(../svg/form-x.svg);   
  width: 20px;
  height: 20px;
  top: -27px;
  right: 0;
  cursor: pointer;
  position: absolute;
  border: none;
  background-color: inherit;
}
.popup-information {
  display: flex;
  flex-direction: column;     
  width: 392px;
  position: sticky;
  padding: 55px 30px;
  box-sizing: border-box;
  background-color: #ffffff;
}
.section-title-top {
  position: relative;  
  font-size: 18px;
  font-weight: bold; 
  margin-bottom: 15px;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  text-transform: uppercase;  
}
.section-title-top::after {
  display: block;
  position: absolute;
  content: '';    
  top: 32px;
  left: 0;
  right: 0;
  height: 3px;
  width: 65px;
  margin: 0 auto 7px;
  background-color: #b59f5a;
  opacity: 0.3;
}
.form-row {
  margin: 25px 0 0;
}
.form-hint {
  display: block;
  margin-bottom: 6px;
  font-size: 13px;
  line-height: 16px;
  text-align: left;
}
.form-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  width: 100%;
  height: 49px;
  padding-left: 20px;  
  background: url(../svg/form-arrows.svg);
  background-repeat: no-repeat;
  background-position: top 45% right 15px;
  background-size: 10px;
  background-color: rgba(222, 226, 225, 0.576);
  color: rgba(0, 0, 0, 0.541);
  cursor: pointer;
}
.form-select:hover,
.form-select:focus {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(181, 159, 91);
  background-color: rgb(244, 247, 246);
  outline: 0;
}

.radio-group-text::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("../svg/form-empty-circle.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 18px;
}
.radio-group-text::before {
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}
.radio-group {
  display: inline-block;
  font-size: 13px;
}
.radio-group:nth-of-type(n + 2) {
  margin-left: 15px;
}
.radio:checked ~ .radio-group-text::before {
  background-image: url("../svg/form-circle.svg");
}
.radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.textarea-style {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: rgba(226, 232, 230, 0.6);
  box-sizing: border-box;
  width: 100%;
  height: 132px;
  padding: 20px;
  border: 0;  
  font-size: 14px;
  color: rgba(0, 0, 0, 0.541);
  resize: none;  
}
textarea:hover,
textarea:focus {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(181, 159, 91);
  background-color: rgb(244, 247, 246);
  outline: 0;
  color: rgba(0, 0, 0, 1);
}

.popup-button {
  width: 100%;
  height: 48px;  
  background-color: #b59f5b;
  margin: 0;
  border: 0;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}
.popup-button:hover,
.popup-button:focus {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(181, 159, 91);  
  outline: 0;
  color: rgba(0, 0, 0, 1);
}

.container {  
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  width: 100%;  
  height: 450px;    
  background: #45544C url(../images/banner-bg.jpg) center no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  margin-bottom: 58px;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.60;  
}
.header-top {
  padding: 28px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.logo {
  width: 179px;
}
.nav-list {
  display: flex;
  list-style: none;
  font-size: 11px;
  gap: 33px;
}
.nav-list-link a {
  font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
}
.nav-list-link:hover {
  text-decoration: underline;
  color: #ffffff;
}
.header-burger {
  display: none;
  position: relative;
  width: 23px;
  height: 21px;
  cursor: pointer;
}
.header-burger::before {
  top: 16px;
}
.header-burger::after {
  top: 8px;
}
.header-burger-item, 
.header-burger::before, 
.header-burger::after {
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #fff;
  margin: 0 auto;
}
.header-burger::before, 
.header-burger::after {
  content: '';
}
.intro-title {
  width: 62%;  
  margin: 0 auto;
  padding: 70px 0;  
  position: relative;   
  font-weight: 700;
  font-size: 45px;
  color: #fff;
  line-height: 75px;
  text-transform: uppercase;
  text-align: center;
}

.trends {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto 64px;
}
.trends-title {
  margin: 0 auto;
  margin-bottom: 30px;  
  font-size: 19px;
  font-weight: bold;
  color: #000;
  line-height: 23px;
  text-transform: uppercase;
  text-align: center;
}
.trends-title:after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  margin: 9px auto 0;
  background-color: #e1d9bd;
}
.trends-wrap {
  display: flex;  
  justify-content: space-between; 
  width: 100%;
  min-height: 320px;
  gap: 4px;
}
.trend-item {
  display: flex;
  align-items: flex-end;
  flex-basis: 25%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: relative;
  z-index: 0;
  padding: 95px 22px 16px;  
}
.trend-item::before {
  content: "";
  display: block;
  position: absolute;
  background-color: black;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.60;  
  z-index: -1;
}
.garden {
  background-image: url(../images/trend1.jpg);
}
.cheese {
  background-image: url(../images/trend2.jpg);
}
.tour {
  background-image: url(../images/trend3.jpg);
}
.lemon {
  background-image: url(../images/trend4.jpg);
}
.trend-item-content {
  border: 3px solid #b59f5b;
  padding: 32px;  
}
.articles-tag {  
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 6px;
  list-style-type: none;
  gap: 19px;
}
.articles-tag-item a {
  font-weight: bold;
  font-size: 14px;
  color: #b59f5b;
  text-transform: uppercase;
  text-decoration: none;
}
.articles-tag-item a:hover {
  text-decoration: underline;
}
.title-link {
  font-weight: bold;
  font-size: 19px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;  
  line-height: 24px;  
}
.title-link:hover {
  color: #b59f5b;
}

.wrapper {
  display: flex;
  justify-content: space-between;  
  margin-bottom: 55px;
}
.blog {
  width: 780px;
}
.blog-item {  
  display: flex;
  gap: 30px;
  margin-bottom: 54px;
}
.blog-item:last-child {
  margin-bottom: 0;
}
.blog-img {
  width: 381px;
}
.blog-content {
  display: flex;
  flex-direction: column;
  width: 367px;
}
.blog-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 17px;  
  list-style-type: none;
  line-height: 12px;  
  margin-bottom: 12px;
}
.blog-tags a {
  font-weight: bold;
  font-size: 14px;
  color: #b59f5b;
  text-transform: uppercase;
  text-decoration: none;
}
.blog-tags a:hover {
  text-decoration: underline;
}
.blog-title {
  margin-bottom: 27px;
}
.blog-title a {  
  font-size: 20px;
  font-weight: bold;
  color: #000;
  line-height: 23px;
  text-transform: uppercase;
  text-decoration: none;
}
.blog-title a:hover {
  color: #b59f5b;
}
.blog-subtitle {
  margin-bottom: 30px;
  display: flex;
  gap: 13px;
}
.blog-date {
  font-size: 12px;
  color: #888;
}
.blog-author {
  font-size: 12px;
  font-weight: bold;
}
.blog-text p {   
  font-size: 15px;
  line-height: 22px;
  margin-top: 11px;    
}

.sidebar {
  width: 270px;
}
.widget {
  margin-bottom: 64px;
}
.widget-heading {
  font-size: 14px;
  line-height: 9px;
  text-transform: uppercase;
  text-align: center;
}
.widget-heading:after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  margin: 15px auto 0;
  background-color: #e1d9bd;
}
.widget-newpost {
  margin-top: 27px;
}
.newpost-item {
  display: flex;
  margin-bottom: 16px;
  gap: 18px;
}
.newpost-img {
  width: 70px;
}
.newpost-content {
  width: 183px;
  line-height: 10px;
}
.newpost-date {  
  font-size: 12px; 
  color: #000;
  opacity: 0.54;
}
.newpost-title {
  line-height: 17px; 
  margin-top: 5px;
}
.newpost-title a{
  font-size: 14px;
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
}
.newpost-title a:hover {
  color: #b59f5b;
}
.search {
  margin-top: 54px;
  position: relative;
}
.search-form {
  width: 100%;
  height: 48px;
  background-color: #f5f7f6;
  border: none;
  outline: none;
  padding: 15px 20px;
  font-size: 13px;
  vertical-align: middle;
  background-color: #f4f7f6;
  color: #bdc0bf;
}
.search-button {
  background-image: url(../svg/search.svg);
  background-size: 18px;
  background-color: #b59f5a;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  width: 48px;
  height: 48px;
  border: none;
  top: 0;
  right: 0;
  cursor: pointer;
}
.search-button:hover {
  background-color: #323232;
}

.subscribe {
  position: relative;
  margin-top: 22px;
}
.subscribe-box {
  width: 100%;
  height: 48px;
  padding: 15px 20px;
  margin-bottom: 18px;
  font-size: 13px;
  border: none;
  outline: none;
  background-color: #f4f7f6;
  color: #bdc0bf;
}
.subscribe-box:focus {
  outline: 1px solid #b59f5b;
}

.subscribe-btn {
  width: 100%;
  height: 48px;
  background-color: #b59f5b;
  border: none;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}
.subscribe-btn:hover {
  background-color: #323232;
}

.widget-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  list-style-type: none;
  line-height: 28px;
  margin-top: 22px;
}
.tags-item {
  padding: 4px 13px;
  border: 3px solid #eee;
}
.tags-item:hover {
  border: 3px solid #b59f5b;
}
.widget-tags a {
  font-size: 12px;
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
}

.widget-categories {
  list-style-type: none;
  margin-top: 12px;
}
.categories-item {
  height: 47px;
  padding: 8px 0;
  border-bottom: 1px solid #eee;
}
.categories-item a {
  font-size: 14px;
  font-weight: bold;
  color: #000;
  text-decoration: none;
}
.categories-item a:hover {
  color: #b59f5b;
}
.categories-item-sup {
  padding: 0 5px;
  vertical-align: super;
  font-size: 12px;
  color: #b59f5b;
}

.shop {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto 66px;
}
.shop-title {
  max-width: 1170px;
  margin: 0 auto;
  margin-bottom: 29px;  
  font-size: 20px;
  font-weight: bold;
  color: #000;
  line-height: 23px;
  text-transform: uppercase;
  text-align: center;
}
.shop-title:after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  margin: 10px auto 0;
  background-color: #e1d9bd;
}
.shop-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  width: 100%;   
}
.shop-post {
  flex-basis: calc(33% - 40px);
  display: flex;
  align-items: stretch;
  flex-direction: column;   
}
.shop-post-img-wrap {
  margin-bottom: 23px;
  width: 100%;  
  padding: 0 20px;  
}
.shop-post-border {
  margin-top: -62px;
  border: 3px solid rgb(181, 159, 91, 0.6);
  padding: 50px 20px 20px;
  flex-grow: 1;  
}
.shop-post-title {
  font-size: 20px;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;  
  line-height: 24px;
  margin-bottom: 5px;
}
.shop-post-link {
  color: #b59f5a;
  text-decoration: none;
}
.shop-post-link:hover {
  border-bottom: 1px solid #b59f5a;
  transition: 0.3s;
}
.shop-post-price-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 22px;
  height: 48px;  
}
.shop-post-price-all {
  margin-bottom: 8px;
}
.shop-post-price-old,
.shop-post-price-new {
  font-weight: bold;
  display: block;
  line-height: 20px;  
}
.shop-post-price-old {
  font-size: 14px;
  text-decoration: line-through;
}
.shop-post-price-new {
  font-size: 20px;
}
.product-link {
  display: block;
  width: 141px;
  height: 49px;
  background-color: #b59f5b;
  margin: 0;
  border: 0;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  line-height: 49px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}


.socials {
  padding: 28px 0;
  display: flex;
  justify-content: center;
  gap: 27px;
  background-color: #f4f7f6;
  list-style: none;
}
.socials-item a{
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size:20px;
  background-repeat: no-repeat;
  background-position: center; 
}
.social-item-link {
  display: block;
  width: 20px;
  height: 20px;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
}
.socials-dribbble {
  background-image: url(../svg/001-dribbble.svg);  
}
.socials-pinterest {
  background-image: url(../svg/002-pinterest.svg);
}
.socials-twitter {
  background-image: url(../svg/003-tumblr.svg);
}

.copyright {
  padding: 70px 0 25px 0;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}
.copyright a {
  text-decoration: none;
  color: #999;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;  
  overflow: hidden;
} 


@media (max-width: 1199px) {
  .popup-close {    
    width: 30px;
    height: 30px; 
    background-size: 30px; 
    top: -37px;
  }
  .radio-group-text::before {    
    width: 25px;
    height: 25px;    
    background-size: 25px;
  }
  .radio-group:nth-of-type(n + 2) {
    margin-left: 25px;
  } 
  .header {   
    height: 392px;     
    padding-top: 15px;
    padding-bottom: 75px;
    background: url(../images/banner-bg-tablet.jpg) no-repeat center center;
    background-size: cover;
    position: relative;
    margin-bottom: 46px;
  }
  .header-menu-item:nth-child(n + 2) {
    margin: 18px 0 0;  
  }
  .header-menu-item a {
    font-size: 17px;
  }
  .logo {
    width: 157px;
  }
  .intro-title {
    font-size: 40px;
    margin-top: 58px;
    padding: 0;
    width: 94%;
    line-height: 55px;
  }
  nav {
    display: none;
    transition: 0.5s;
  }
  .header-burger {
    display: block;
  }
  .container {
    width: 100%;
    padding: 0 35px;
  }
  .trends {
    margin: 0 auto 51px;
  }
  .trends-title {    
    margin-bottom: 18px;  
    font-size: 18px;    
  }
  .trends-wrap {
    flex-wrap: wrap;
    gap: 1px; 
  }
  .trend-item {
    flex-basis: calc(50% - 5px);
    height: 247px;
    padding: 16px 16px;
    flex-grow: 1;
  }
  .trend-item:nth-child(-n + 3) {
    margin-right: 0;
  }  
  .trend-item:nth-child(odd) {
    margin-right: 2px;
  }
  .trend-item:nth-child(-n + 2) {
    margin-bottom: 2px;
  }
  .trend-item-content {    
    padding: 31px;  
  }
  .articles-tag {     
    margin-bottom: 4px;    
    gap: 17px;
  }
  .title-link {    
    font-size: 17px;    
    line-height: 19px;  
  }
  .wrapper {
    margin-bottom: 47px;
  }
  .blog {
    width: calc(((100% - 105)/3)*2);
  }
  .blog-item {
    flex-direction: column;
    padding-bottom: 17px;    
  }
  .blog-item:not(:last-child) {
    border-bottom: 3px solid #f5f7f6;
    margin-bottom: 42px;
  } 
  .blog-photo {
    width: 100%;
  } 
  .blog-img {
    width: 100%;
  }
  .blog-content {
    margin-top: -22px;    
    width: 100%;
  }
  .blog-title a {
    font-size: 16px;
    line-height: 21px;    
  }
  .blog-subtitle {
    margin-bottom: 15px;    
    gap: 15px;
  }
  .blog-text {  
    margin-top: 0;    
  }
  .sidebar {
    width: calc((100% - 90)/3);
    margin-left: 35px;
  }
  .shop {    
    margin: 0 auto 44px;
  } 
  .shop-title {    
    margin-bottom: 28px;  
    font-size: 18px;    
  }
  .shop-title:after {    
    margin: 8px auto 0;    
  }
  .shop-wrap {
    flex-wrap: wrap;    
  }
  .shop-post {
    flex-basis: calc(50% - 11px);
  }
  .shop-post:not(:last-child) {
    margin-bottom: 20px;
  }
  .shop-post-border {    
    padding: 50px 20px 24px;  
    margin-bottom: 8px;  
  }
  .shop-post-title {
    font-size: 17px;
    margin-bottom: 1px;
  }
  .shop-post-price-all {
    margin-bottom: 6px;
  }
  .socials {
    padding: 30px 0;    
    gap: 0px;    
  } 
  .socials-item:not(:last-child) {
    margin-right: 27px;
  }
  .copyright {
    padding: 40px 0 25px 0;    
    font-size: 12px;    
  }
}

@media (max-width: 1199px) and (orientation: landscape) {
  .trends-wrap {
    flex-wrap: nowrap;
  }
  .trend-item {
    flex-basis: 25%;
  }
}


@media (max-width: 640px) {
  .popup-information {    
    width: 332px; 
    padding: 40px 30px;
  }
  .popup-close {  
    right: 57px;
  }
  .container {
    padding: 0 15px;
  }
  .header {
    height: 100vh;
    max-height: 640px; 
    padding-top: 5px;
    background: url(../images/banner-mobile.jpg) center no-repeat;
    margin-bottom: 37px;
  }
  .header-top {
    flex-direction: column-reverse;
    height: 50%;
  }
  .logo {
    margin-top: 170px;
    width: 85%;
    max-width: 270px;
  }
  .header-burger {
    margin-left: auto;
  }
  .intro-title {
    width: 100%;
    font-size: 24px;
    padding: 0 10px;
    line-height: 36px;
    margin-top: 2px;
  }
  .trends {
    margin: 0 auto 45px;
  }
  .trends-title {    
    font-size: 16px;
    margin-bottom: 27px;  
  }
  .trends-title:after {    
    margin: 6px auto 0;    
  }
  .trend-item {
    flex-basis: 100%;
    padding: 90px 15px 15px;
    max-height: 230px; 
  }
  .trend-item-content {
    width: 100%;
    padding: 27px 20px;  
  }
  .trend-item:not(:last-child) {
    margin-bottom: 3px;
  }
  .trend-item:nth-child(odd) {
    margin-right: 0;
  }  
  .title-link {
    font-size: 16px;
    line-height: 16px;
  }  
  .wrapper {
    flex-direction: column;
  }
  .blog {
    width: 100%;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .blog-item {
    padding-bottom: 23px;
  }  
  .blog-item:not(:last-child) {   
    margin-bottom: 34px;
  } 
  .blog-img {
    width: 100%;
    margin-bottom: 0;
  }  
  .blog-content {
    margin: 0;
    margin-top: -22px;
    width: 100%;   
  }
  .blog-tags { 
    line-height: 10px;  
    margin-bottom: 10px;
  }
  .blog-tags a {    
    font-size: 14px;    
  }
  .blog-title {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 20px;
  }
  .blog-text p {
    font-size: 14px;
    line-height: 20px;
    width: 100%;
  }
  .blog-subtitle {
    margin: 0;
  }
  .sidebar {
    margin-top: 43px;
  }
  .widget {
    margin-bottom: 47px;
  }
  .sidebar,
  .newpost-content,  
  .search-box {
    width: 100%;
    margin-left: 0;    
  }
  .subscribe {
    margin-top: 22px;
  }
  .widget-heading {
    margin-top: 1px;
    font-size: 16px;
  }
  .widget-newpost {
    margin-top: 28px;
  }
  .widget-tags {
    margin-top: 24px;
    gap: 6px;
  }
  .tags-item {
    padding: 5px 12px;    
  }
  .shop {
    margin: 0 auto 35px;
  }
  .shop-title {
    margin-top: -55px;
    font-size: 16px;
  }
  .shop-wrap {
    flex-direction: column;
  }
  .shop-post {
    width: 100%;
    padding: 0;
  }
  .shop-post:not(:last-child) {
    margin-bottom: 20px;
  }
  .shop-post-border {
    margin-top: -60px;
  }
  .footer-copyright-link {
    margin: 45px auto;
  }
  .socials-item:not(:last-child) {
    margin-right: 25px;
  }
}

@media (max-width: 641px) and (orientation: landscape) {  
  .trends-wrap {
    flex-wrap: wrap;
  }
  .trend-item:nth-child(-n + 3) {
    margin-right: 0;
  }
  .trend-item {
    flex-basis: calc(50% - 5px);
    flex-grow: 1;
  }
  .trend-item:nth-child(odd) {
    margin-right: 4px;
  }
  .trend-item:nth-child(-n + 2) {
    margin-bottom: 4px;
  }
}

